/* https://newtodesing.com/ 
   v2.0 | 20110126
   License: none (public domain)
*/



/*Load google font*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');



/* Reset Styles */

html, body, div, span, applet, object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	/* margin: 30px auto; */
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

a {
	text-decoration: none;
	text-transform: none;
	color: #4a90e2;
}

body {
	line-height: 1;
	font-family: lato, ubuntu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-size: 19px;
	background-color: #eadac5;
	color: #3a2d22;
	display: flex;
	flex-direction: column;
	/* align-content: flex-start; */
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	color: #3a2d22;
	font-size: small;
	line-height: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 0px;
	width: 100%;
}

strong {
	font-weight: 600;
	word-wrap: break-word;
}

em {
	font-style: italic;
	margin-right: 5px;
}

div,
footer {
	box-sizing: border-box;
}

/* Reset ends */


/*Hero section*/

.container {
	max-width: 1100px;
	height: -webkit-fill-available;
	margin: 15px auto;
	width: 100%;
	flex-direction: row;
	display: flex;
	justify-content: space-around;
}

.hero {
	margin: 50px 0px 15px 0px;
	position: relative;
}

h1.name {
	font-size: 70px;
	font-weight: 300;
	display: inline-block;
}

.job-title {
	vertical-align: top;
	background-color: #99a8a560;
	color: #8f5145;
	font-weight: 600;
	margin-top: 5px;
	margin-left: 15px;
	border-radius: 5px;
	display: inline-block;
	padding: 15px 25px;
}

.email {
	display: block;
	font-size: 24px;
	font-weight: 300;
	color: #8f5145;
	margin-top: 10px;
	padding-left: 15px;
	width: max-content;
	max-width: 80%;
}

.hero a.social {
	float:right;
	margin-left: 5px;
	margin-top: 2px;
}

.lead {
	font-size: 44px;
	font-weight: 300;
	margin-top: 60px;
	line-height: 55px;
	padding-left: 15px;
}

/*hero ends*/

/* About me */

p.about-me {
	font-size: 16px;
	line-height: 1.3;
	color: #727c73;
	border-radius: 10%;
	/* background-color: #4a90e2; */
	padding: 15px 5px 15px 30px;
	margin: 5px 15px 5px 0px;
	word-break: break-word;
	white-space: normal;
	width: calc(100% - 80px);
	display: inline;
}

.about-me {
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;
	flex-direction: column;
	align-items: flex-start;
}


/*skills & interests*/

.sections {
	vertical-align: top;
	display: inline-flex;
	width: 49.7%;
	height: fit-content;
	flex-direction: column;
	/* margin-inline: .3%; */
	/* justify-content: flex-end; */
	align-content: space-around;
}

.section-title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 15px;
	/* margin-top: 5px; */
}

.list-card {
	margin: 7.5px 0;
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	height: max-content;
}

.list-card .exp {
	margin-right: 15px;
	color: #6a6a53;
	font-weight: 600;
	width: max-content;
	margin-top: 5%;
}

.list-card div {
	width: 74%;
	white-space: normal;
	padding-right: 5px;
	word-break: break-word;
}

.list-card h3 {
	font-size: 20px;
	font-weight: 600;
	color: #9d3d2d;
	line-height: 26px;
	/* margin-bottom: 8px; */
	margin-top: 5%;
}

.list-card div span {
	font-size: 16px;
	color: #727c73;
	line-height: 22px;
	max-width: 74%;
}

/*skill and interests ends*/

/* Achievements */
h2 {
	margin-top: 5px;
	justify-content: flex-start;
}

.card-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin-bottom: 50px;
	height: max-content;
}

.cards-section-title{
	font-size: 20px;
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-left:  15px;
}

.cards {
	max-width: max-content;
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	height: max-content;
	max-height: max-content;
}

.cards .card {
	width: 31.3%;
	background-color: #c9aa82;
	display: flex;
	margin: 7px 5px;
	vertical-align: top;
	border-radius: 10px;
	align-items: flex-start;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 15px;
	padding-right: 5px;
	flex-direction: column;
	align-content: space-around;
	height: max-content;
}

.card:hover {
	transform: scale(1.02);
	transition: 0.5s;
	background-color: #fff;
	box-shadow: 0px 5px 50px -8px #ddd;
	cursor: pointer;
	height: max-content;
}
.card:hover .skill-meta span {
	opacity: 100%;
	color: #81899C;
	max-height: 200px;
	height: fit-content;
	overflow: visible;
	white-space: normal;
}

.skill-level {
	padding-left: 15px;
	max-width: max-content;}

.skill-level span {
	font-size: 35px;
	font-weight: 300;
	color: #272220;
}

.skill-level h2 {
	font-size: 95px;
	font-weight: 300;
	display: inline-flex;
	vertical-align: top;
	color: #99a8a5;
	letter-spacing: -5px;
}

.skill-meta {
	vertical-align: top;
	display: inline-flex;
	flex-direction: column;
	max-width: 95%;
	text-align: left;
	margin-top: 15px;
	margin-left: 25px;
}

.skill-meta h3 {
	font-size: 20px;
	font-weight: 800;
	color: #272220;
	margin-bottom: 5px;
}

.skill-meta span {
	opacity: 0%;
	line-height: 20px;
	font-size: 16px;
	max-height: 0px;
	overflow: hidden;
	word-wrap: break-word;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: 0.5s;
}


/* Achievements ends */



/* Timeline styles*/
ol {
	position: relative;
	display: flex;
	margin: 50px auto;
	height: 2px;
	background: #EEF0F7;
	flex-direction: row;
}

ol::before,
ol::after {
	content: "";
	position: absolute;
	top: -10px;
	display: inline-flex;
	width: 0;
	height: 0;
	border-radius: 10px;
	border: 0px solid #31708F;
}

ol::before {
	left: -5px;
}

ol::after {
	right: -10px;
	border: 0px solid transparent;
	border-right: 0;
	border-left: 20px solid #31708F;
	border-radius: 3px;
}

/* ---- Timeline elements ---- */

.sub {
	display:flex;
	flex-direction:column;
	margin-bottom: 135px;
}

li {
	position: relative;
	display: inherit;
	flex-direction: column;
	float: left;
	width: 25%;
	height: 200px;
}

li .line {
	position: relative;
	display: inherit;
	content: "";
	left: 1%;
	top: 1%;
	font-size: 18px;
	font-weight: 600;
	color: #04143A;
	padding-left: 1px;
	padding-top: 5px;
}

li .point {
	content: "";
	top: -2px;
	left: 0%;
	display: inherit;
	/* flex: 8px; */
	border: 4px solid #9d3d2d;
	border-radius: 10px;
	background: #9d3d2d;
	/* align-content: flex-start; */
	/* justify-content: flex-start; */
	position: absolute;
}

li .description {
	display: flex;
	padding: 5px 5px;
	margin-top: 10px;
	position: relative;
	z-index: 1;
	max-width: 95%;
	font-size: 18px;
	font-weight: 600;
	line-height: 25px;
	color: #5B6A9A;
}

.expanded-description {
	display: none;
	max-width: max-content;
	position: absolute;
	z-index: 1;
	background-color: white;
	padding: 10px;
	top: -180px;
	left: -5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	/* align-items: flex-end; */
}

.location {
	padding: 5px 5px;
	margin-top: 2.5px;
	line-height: 15px;
	font-weight: normal;
	font-size: 14px;
}

.point-container:hover .expanded-description {
	display: block;
}

.point-container:hover .date::before {
	display: block;
}

.point-container .line a {
	color: #5b6a9a;
	transition: 0.5s;
}

.point-container .line a:hover {
	color: #4a90e2;
}

.date::before {
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #31708F;
	position: absolute;
	top: -5px;
	left: 43%;
	display: none;
}

.timeline .date {
	font-size: 14px;
	margin-left: 1%;
	margin-top: 5%;
	color: #81899C;
	font-weight: 300;
	display: inherit;
}

li .line:hover {
	color: #04143A;
}

/*timeline ends*/

/* awards/publications starts */

.awards { 
	display: flex;
	flex-direction: row;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;
}

.award {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.award-description {
	display: block;
	max-height: 0px;
	height: max-content;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	margin: 15px 5px 0px 0px;
	border-radius: 5px;
	overflow: hidden;
	transition: 0.5s;
	width: auto;
}

.award:hover .award-description {
	max-height: 200px;
	overflow: visible;
	word-wrap: break-word;
	text-overflow: ellipsis;
	white-space: normal;
}

p.desc-text {
	color: #EEF0F7;
	transition: 0.5s;
}

.award:hover p.desc-text {
	color: #04143A;
}

h3 a.link {
	color: #5B6A9A;
	font-weight: 600;
	transition: 0.5s;
}

h3 a.link:hover {
	color: #4a90e2;
}

.list-card div span a.link {
	color: #81899c;
	font-weight: 400;
	transition: 0.5s;
}

.list-card div span a.link:hover {
	color: #4a90e2;
	font-weight: 400;
	transition: 0.5s;
}
/* awards/publications ends */

/* Researching/Teaching starts */
ul.projects {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	margin-left: 15px;
}

li.project {
	width: 100%;
	display: inline;
	height: min-content;
	font-size: 16px;
	padding-left: 5px;
	line-height: 1.2;
}

li.project a {
	color: #81899c;
	font-weight: 400;
	transition: 0.5s;
}

li.project:hover a {
	color: #4a90e2;
}

.department {
	max-height: 750px;
	margin-left: 5px;
	max-width: 95%;
}

.department .list-cards {
	max-height: 0px;
	height: max-content;
	overflow: hidden;
	word-break: break-word;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: 1s;
	border-radius: 5%;
	padding: 0px 0px 20px 10px;
}

.department:hover .list-cards {
	max-height: 100%;
	background-color: #eef0f7;
}

.department:hover h3.dept {
	color: #4a90e2;
	font-weight: bold;
}
/* Research/Teaching ends */

/* Media queries -- rewrite and wrap in media queries */

@media all and (max-width: 26em) {
	.cards {
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}

	.card {
		width:max-content;
	}

}
